#Assignamnt 4

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']
Note: Create your assignment in Jupyter notebook and upload it to GitHub & share that GitHub repository
link through your dashboard.

In [ ]:
'''
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
'''

In [41]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sortedl = sorted(l, key = lambda x:x[1])
for i in sortedl:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [ ]:

'''Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1. byusing the  lambda funnction 
'''

In [28]:
j = lambda x:[i**2 for i in x]
l =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# this is by map function

def sq(l):
    return l**2
l =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
k = map(sq,l)
print(list(k))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
'''
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
'''

In [42]:
Given_String : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# def tp_of_list(l):
#     converted_tup = tuple(str(l))
#     print(converted_tup)
#     return l

def tp_of_list(l):
    converted_tuple = tuple(str(x) for x in l)
    return converted_tuple

given_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
converted_tuple = tp_of_list(given_list)
print(converted_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [46]:
Given_String = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
jep = map(tp_of_list,Given_String)

In [41]:
list(jep)

('1',)
('2',)
('3',)
('4',)
('5',)
('6',)
('7',)
('8',)
('9',)
('1', '0')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
lamb = tuple(map(lambda x:str(x),Given_String))
print(lamb)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [49]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers
# from 1 to 25.

In [18]:
data =[x for x in range(26) if x >=1]

In [19]:
data

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [20]:
import functools
from functools import reduce

x = reduce(lambda x,y:x*y,data)

In [21]:
x

15511210043330985984000000

In [28]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.
list_ = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
ans = filter(lambda x:x %2==0 and x%3==0, list_)

In [30]:
print (list(ans))

[6, 60, 90, 120]

In [32]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
# function.
tr_ = ['python', 'php', 'aba', 'radar', 'level']
pall_ = filter(lambda x:x[0] == x[-1],tr_)

In [33]:
print(list(pall_))

['php', 'aba', 'radar', 'level']