# Q1. List any five functions of the pandas library with execution.
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.
Q5. How are DataFrame.size() and DataFrame.shape() different?
Q6. Which function of pandas do we use to read an excel file?
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [1]:
import pandas as pd

In [24]:
# Q1. List any five functions of the pandas library with execution.

#  In Pandas Many funcction are avalable to give exaplee a few 
# 1) 

Data = ({"name" :["rahul", "maayank","soham","monika"],
        "age": [25,26,24,25],
        "place": ["pune", "Nasik","Goa", "Ranchi"]})
dataf = pd.DataFrame(Data)
dataf.describe()
dataf.info()
dataf.columns
dataf.mean()

SyntaxError: unexpected EOF while parsing (3898431689.py, line 13)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [25]:
Data = ({"A" :["rahul", "maayank","soham","monika"],
        "B": [25,26,24,25],
        "C": ["pune", "Nasik","Goa", "Ranchi"]})
dataf = pd.DataFrame(Data)
dataf.set_index

In [31]:
def my_index(df):
    new_index = pd.Index(range(1,len(df)*2+1,2))
    df= df.set_index(new_index)
    return df

In [32]:
dataf

         A   B       C
0    rahul  25    pune
1  maayank  26   Nasik
2    soham  24     Goa
3   monika  25  Ranchi

In [33]:
my_index(dataf)

         A   B       C
1    rahul  25    pune
3  maayank  26   Nasik
5    soham  24     Goa
7   monika  25  Ranchi

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [42]:
Data = ({"A" :["rahul", "maayank","soham","monika"],
        "values": [25,24,24,25],
        "C": ["pune", "Nasik","Goa", "Ranchi"]})
dataf = pd.DataFrame(Data)
def sum_first_3_val(df):
    sum_3 = sum(df["values"].head(3))
    print(sum_3)
    
sum_first_3_val(dataf)
# myno = (dataf["values"])
# print(myno[0]+myno[1]+myno[2])

73

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [49]:
Data = ({"Text" :["rahul isthe one", "maayank somthings is one","soham is working with us","monika this is the main work"],
        "values": [25,24,24,25],
        "C": ["pune", "Nasik","Goa", "Ranchi"]})
dataf = pd.DataFrame(Data)

def text_len(df):
    text_clm = df["Text"]
    text_clm = list(text_clm)
    text_clm_list = text_clm.split()
    new_clm_list =[]
    for i in range (len(text_clm_list)):
        my_list_words= len(list(text_clm_list[i]))
        new_clm_list.append(my_list_words)
    df["Word_count"]= new_clm_list
    return df
text_len(dataf)

AttributeError: 'list' object has no attribute 'split'

In [60]:
Data = ({"Text" :["rahul isthe one", "maayank somthings is one","soham is working with us","monika this is the main work"],
        "values": [25,24,24,25],
        "C": ["pune", "Nasik","Goa", "Ranchi"]})
dataf = pd.DataFrame(Data)

def text_len(df):
    text_Scr = df["Text"]
    mylist = text_Scr.tolist() 
    new_clm_list= []
    for i in mylist:
        my_str_split = i.split()
        len_my_str = len(my_str_split)
        new_clm_list.append(len_my_str)
    df["Word_Count"]= new_clm_list
    return df
text_len(dataf)

                           Text  values       C  Word_Count
0               rahul isthe one      25    pune           3
1      maayank somthings is one      24   Nasik           4
2      soham is working with us      24     Goa           5
3  monika this is the main work      25  Ranchi           6

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [66]:
size = dataf.size
shape = dataf.shape
print("this is size",size)
shape

this is size 16

(4, 4)

Size return the n*m( totla no of elements ) and shape return the (n,m) where n and m are number of clm and row

In [67]:
# Q6. Which function of pandas do we use to read an excel file?

In [69]:
def oprn_excel_pd(file_name):
    excel_file = pd.read_excel(file_name)
    return excel_file

In [70]:
# oprn_excel_pd("My_file.xl")

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [76]:
Data = ({"Text" :["rahul isthe one", "maayank somthings is one","soham is working with us","monika this is the main work"],
        "values": [25,24,24,25],
        "Email": ["pune@me.com", "Nasik@me.com","Goa@me.com", "Ranchi@me.com"]})
dataf = pd.DataFrame(Data)
def Username(df):
    df["username"]= df["Email"].apply(lambda x: (x[:(x.index("@"))]))                               
    print (df)                                  
    return df
Username(dataf)

                           Text  values          Email username
0               rahul isthe one      25    pune@me.com     pune
1      maayank somthings is one      24   Nasik@me.com    Nasik
2      soham is working with us      24     Goa@me.com      Goa
3  monika this is the main work      25  Ranchi@me.com   Ranchi

                           Text  values          Email username
0               rahul isthe one      25    pune@me.com     pune
1      maayank somthings is one      24   Nasik@me.com    Nasik
2      soham is working with us      24     Goa@me.com      Goa
3  monika this is the main work      25  Ranchi@me.com   Ranchi

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [77]:
Data = ({"A" :[3,8,6,2,9],
        "B": [5,3,9,3,1],
        "C": [1,4,7,5,2]})
dataf = pd.DataFrame(Data)

In [79]:
def my_fun(df):
    mydf = df[(df["A"]>5) & (df["B"]<10)]
    return mydf
my_fun(dataf)

   A  B  C
1  8  3  4
2  6  9  7
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [80]:
Data = ({"A" :[3,8,6,2,9],
        "Vavaluelues": [5,3,9,3,1],
        "C": [1,4,7,5,2]})
dataf = pd.DataFrame(Data)

In [81]:
def MathsOpr(df):
    my_opr = ["mean","median","std"]
    df_val = df["Values"]
    for opr in my_opr:
        result = eval(f'df_val.{opr}()')
        print(f"the {opr} gives the {result} value ")
MathsOpr(dataf)

the mean gives the 4.2 value
the median gives the 3.0 value
the std gives the 3.03315017762062 value

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [85]:
data = ({"value" :[x for x in range(30)]
    
})
df = pd.DataFrame(data)

In [93]:
def movingAvrage(df):
    df["movingavg"] = df["value"].rolling(window=7, min_periods =1).mean()
    return df

movingAvrage(df)

    value  movingAvg  movingavg
0       0        0.0        0.0
1       1        1.0        0.5
2       2        3.0        1.0
3       3        6.0        1.5
4       4       10.0        2.0
5       5       15.0        2.5
6       6       21.0        3.0
7       7       28.0        4.0
8       8        NaN        5.0
9       9        NaN        6.0
10     10        NaN        7.0
11     11        NaN        8.0
12     12        NaN        9.0
13     13        NaN       10.0
14     14        NaN       11.0
15     15        NaN       12.0
16     16        NaN       13.0
17     17        NaN       14.0
18     18        NaN       15.0
19     19        NaN       16.0
20     20        NaN       17.0
21     21        NaN       18.0
22     22        NaN       19.0
23     23        NaN       20.0
24     24        NaN       21.0
25     25        NaN       22.0
26     26        NaN       23.0
27     27        NaN       24.0
28     28        NaN       25.0
29     29        NaN       26.0

11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [95]:
import datetime
data = ({
    "date" :['2023-01-01',"2023-01-02","2023-01-03","2023-01-04", "2023-01-05" ]
})
df = pd.DataFrame(data)
df["date"]=pd.to_datetime(df["date"])

In [96]:
def week_day(df):
    df["weekday"] = df["date"].dt.day_name()

In [97]:
week_day(df)

In [98]:
df

        date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [103]:
data = ({
    "date" :['2023-01-01',"2023-01-02","2023-02-03","2023-01-04", "2023-01-05" ]
})
df = pd.DataFrame(data)
df["date"]=pd.to_datetime(df["date"])

In [104]:
def time_in_bitween(df, start_date, end_date):
    mask = (df["date"].between(start_date,end_date))
    slected_row =df[mask]
    return slected_row
time_in_bitween(df,'2023-01-01','2023-01-31')

        date
0 2023-01-01
1 2023-01-02
3 2023-01-04
4 2023-01-05

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
to use the function of pandas we need to install the pandas lib.